.modalBackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, .4);
    animation: backgroundAnimation 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes backgroundAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}
.modal{ 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 12px;
    animation: modalAnimation 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
    opacity: 0;
    visibility: hidden;
}
@keyframes modalAnimation {
    0%{
        opacity: 0;
        top: 10px;
    }
    100%{
        opacity: 1;
        top: 50%;
        visibility: visible;
    }
}
